/**
 * Sistema para la Iglesia Manantiales de Vida Eterna
 * Desarrollado por: Gilberth Molina
 * Fecha creación: 29/10/16
 */

.content{
    text-align: justify !important;
    font-weight: lighter !important;
}

.jconfirmCustomize{
    font-weight: lighter !important;;
}